
.Card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0%;
  padding: 1% 2% 1% 2%;
  height: auto;
  width: 100%;
}

.CardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2% 1% 2% 1%;
  padding: 0%;
  height: 250px;
  width: 30%;
  border: solid 1px lightgrey;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

.CardBoxImage {
  margin: 2%;
  padding: 5% 0% 0% 0%;
  height: 60%;
  width: 90%;
}

.CardBoxImage img {
  height: 100%;
  width: 100%;
}

.CardBoxDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2%;
  padding: 0%;
  height: 30%;
  width: 90%;
}

.Description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 80%;
}

.Description p {
  margin-top: 1rem;
  font-size: 20px;
  line-height: 0.1;
}

.DescriptionButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 20%;
}

.Plus-circle {
  color: grey;
  border: solid 1px lightgrey;
  border-radius: 50%;
}

.Plus-circle:hover {
  color: teal;
  cursor: pointer;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .CardBox { width: 100%; }
  .Plus-circle { font-size: 40px; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .CardBox { width: 100%; }
  .Plus-circle { font-size: 40px; }
}
