.Catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 0% 5% 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.CatalogHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.CatalogName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.CatalogName Button {
  margin: 0% 1% 0% 1%;
  padding: 0%;
  height: 35px;
  width: 100px;
  color: black;
  background-color: white;
  border: solid 1px white;
}

.CatalogName Button:hover {
  color: black;
  background-color: white;
  border: solid 1px white;
}

.CatalogName Button:focus {
  color: black;
  background-color: white;
  border: solid 1px white;
}

.CatalogCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 1% 2% 1% 2%;
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .Catalog { padding: 0% 5% 0% 5%; }
  .CatalogName Button { margin: 1% 2% 1% 2%; height: 30px; width: 70px; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Catalog { padding: 0% 5% 0% 5%; }
  .CatalogName Button { margin: 1%; height: 30px; width: 70px; }
}
