.CartAndOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.CartAndOrderHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.Cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 1%;
  height: auto;
  width: 100%;
}

.CartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 2% 0% 2%;
  padding: 1%;
  height: auto;
  width: 70%;
  border: solid 1px lightgrey;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

.CartItemHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 2% 0% 1% 0%;
  padding: 0%;
  height: 30px;
  width: 100%;
}

.CartItemHeader p {
  margin-top: 1rem;
  font-size: 18px;
  color: grey;
}

.CartItemBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1% 0% 1% 0%;
  padding: 5% 1% 5% 1%;
  height: auto;
  width: 100%;
  border: solid 1px lightgrey;
  border-radius: 10px;
  overflow: auto;
}

.CartItemBox p {
  margin-top: 1rem;
  font-size: 18px;
  color: grey;
}

.CartItemFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1% 0% 2% 0%;
  padding: 0%;
  height: 50px;
  width: 100%;
}

.TotalBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 50%;
}

.TotalBox h6 {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.TotalBox p {
  margin-top: 0rem;
  font-size: 18px;
  color: grey;
}

.Payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 50%;
}

.PaymentOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 1%;
  padding: 0%;
  height: 100%;
  width: 20%;
}

.PaymentOptions img {
  height: 100%;
  width: 100%;
}

.Checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 2% 0% 2%;
  padding: 1%;
  height: 350px;
  width: 30%;
  border: solid 1px lightgrey;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

.Checkout label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .CartAndOrder { padding: 0% 5% 0% 5%; }
  .Cart { flex-direction: column; }
  .CartItem { width: 95%; }
  .CartItemBox { padding: 0%; }
  .Checkout { margin: 5% 2% 5% 2%; width: 100%; }
  .Checkout form { width: 100%; }
  .PaymentOptions { height: 85%; width: 30%; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .CartAndOrder { padding: 0% 5% 0% 5%; }
  .Cart { flex-direction: column; }
  .CartItem { width: 95%; }
  .Checkout { margin: 5% 2% 5% 2%; width: 100%; }
  .Checkout form { width: 100%; }
  .PaymentOptions { height: 80%; width: 25%; }
}
