.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 0% 5% 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.AboutHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.AboutBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100%;
  text-align: justify;
}

.AboutBox p {
  margin-top: 1rem;
  font-size: 15px;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .About { padding: 5%; }
  .AboutBox p { font-size: 18px; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .About { padding: 5%; }
  .AboutBox p { font-size: 20px; }
}
