
.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: 100px;
  width: 100%;

  border: solid 1px red;
}

.HeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 50%;

  border: solid 1px red;
}

.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 20%;

  border: solid 1px red;
}

.HeaderText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0%;
  padding: 0% 5% 0% 5%;
  height: 100%;
  width: 80%;

  border: solid 1px red;
}

.HeaderText p {
  margin-top: 1rem;
  font-size: 14px;
  line-height: 0.1;
}

.HeaderRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 50%;

  border: solid 1px red;
}

.HeaderRight Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: 60%;
  width: 20%;
  color: black;
  background-color: white;
  border: solid 1px white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

.HeaderRight Button:hover {
  color: black;
  background-color: white;
  border: solid 1px white;
}

.HeaderRight Button:focus {
  color: black;
  background-color: white;
  border: solid 1px white;
}

.Shopping-cart {
  margin: 0% 5% 0% 5%;
}
