.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100%;

  border: solid 1px rebeccapurple;
}

.FooterCopyRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 50%;

  border: solid 1px rebeccapurple;
}

.FooterCopyRight a {
  text-decoration: none;
  color: grey;
}

.FooterCopyRight p {
  margin-top: 1rem;
  padding: 0% 4% 0% 1%;
  font-size: 14px;
  color: grey;
}

.FooterSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 50%;

  border: solid 1px rebeccapurple;
}

.SocialIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 5%;
  padding: 0%;
  height: 100%;
  width: 5%;

  /* border: solid 1px rebeccapurple; */
}

.SocialIcon a {
  text-decoration: none;
  color: grey;
}

.SocialIcon img {
  height: 100%;
  width: 100%;
}

.SocialIcon img:hover {
  cursor: pointer;
}
