.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.FooterSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 50%;
}

.SocialIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 5%;
  padding: 0%;
  height: 100%;
  width: 5%;
}

.SocialIcon a {
  text-decoration: none;
  color: grey;
}

.SocialIcon img {
  height: 100%;
  width: 100%;
}

.SocialIcon img:hover {
  cursor: pointer;
}

.FooterCopyRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0%;
  padding: 0%;
  height: auto;
  width: 50%;
}

.FooterCopyRight a {
  text-decoration: none;
  color: grey;
}

.FooterCopyRight p {
  margin-top: 1rem;
  padding: 0% 4% 0% 1%;
  font-size: 14px;
  color: grey;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .FooterCopyRight { justify-content: center; width: 100%; }
  .FooterCopyRight p { font-size: 15px; }
  .FooterSocial { justify-content: center; width: 100%; }
  .SocialIcon { width: 10%; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .FooterCopyRight { justify-content: center; width: 100%; }
  .FooterCopyRight p { font-size: 20px; }
  .FooterSocial { justify-content: center; width: 100%; }
  .SocialIcon { width: 8%; }
}
